<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <script src="javascripts/modernizr-2.6.2.min.js"></script>
    <link rel="stylesheet" href="stylesheets/app.css">

  </head>

  <body>
    <%- body %>

    <script>
        // Enable Brunch HTML/CSS/JS Auto Reload
        window.brunch = window.brunch || {};
        window.brunch['auto-reload'] = { enabled: true };
    </script>
    <script src="javascripts/vendor.js"></script>

    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/javascripts/sails.app.js"></script>

    <script src="javascripts/app.js"></script>
    <script>require('initialize');</script>

    </body>
</html>
