.stat-item
    display inline-block
    height 210px
    margin 0 15px 15px 0
    position relative
    width 350px

    .content
        background #a6c776
        border 1px solid #a6c776
        height 60px
        left 0
        padding 10px 0
        text-shadow 0 -1px 0 #98b66e
        top 0
        width 100%
        z-index 5

    .title, .last-update, .value
        color #fff

    .last-update
        color #d3e2bb
        font-size 12px

    .title, .value
        font-size 16px
        font-weight 600
        margin-bottom 5px

    .content, .left, .right, .graph
        position absolute

    .left
        left 10px

    .right
        right 10px

    .graph
        background #fff
        border 1px solid #eee
        border-top 0 none
        bottom 0
        height 150px
        left 0
        width 100%
        z-index 1
