.stat-item
    border-radius 6px
    color #fff
    padding 10px

    .title
        font-size 22px
        font-weight 100
        margin-bottom 10px
        text-transform uppercase

    .metadata
        font-size 16px
        margin-bottom 10px

    .no-data
        font-size 30px
        font-weight 100
        margin 0
        padding 0
        position relative
        text-align center
        top 80px

    .data
        .graph
            display none

        .no-data
            display block

        &.data-available
            .graph
                display block

            .no-data
                display none

    .filters
        display block
        margin-bottom 10px

    .filter
        border 0 none
        border-radius 4px
        font-weight 100
        line-heihgt 1.5
        text-shadow 0 -1px 0 rgba(#000, 0.2)
        padding 5px 10px
        position relative
        outline none
        top 5px

        &.is-selected
            box-shadow 0 0 5px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.3)
            color #fff
            text-shadow none

    .graph
        font-weight 100

        & > svg
            height 100% !important
            width 100% !important


    path.line
        fill none
        stroke #fff
        stroke-width 2

    path.area
        fill #fff
        opacity 0.2

    .axis
        shape-rendering crispEdges

    .x.axis path
        display none

    .y.axis path, .y.axis line
        fill none
        stroke #fff
        stroke-width 1px
        stroke-opacity 0.06

    text
        stroke none !important
        fill #fff !important
        font-size 10px

    &.grid
        float left
        height 250px
        margin 0 4px 4px 0
        width 33%

        .filters
            display none

        .graph, .no-data
            height 150px
            width 440px

    &.single
        display block
        height 500px
        margin 0 auto
        width 100%

        .graph
            height 350px
            min-width 1397px
            width 100%

        .no-data
            font-size 42px
            top 150px

    &.blue
        background #3b85c6
        text-shadow 0 -1px 0 darken(#3b85c6, 20%)

        .filter
            background darken(#3b85c6, 25%)
            color lighten(#3b85c6, 70%)

        circle
            fill darken(#3b85c6, 35%)

    &.green
        background #61c08f
        text-shadow 0 -1px 0 darken(#61c08f, 20%)

        .filter
            background darken(#61c08f, 25%)
            color lighten(#61c08f, 70%)

        circle
            fill darken(#61c08f, 35%)

    &.yellow
        background #efe162
        text-shadow 0 -1px 0 darken(#efe162, 20%)

        .filter
            background darken(#efe162, 25%)
            color lighten(#efe162, 70%)

        circle
            fill darken(#efe162, 35%)

    &.orange
        background #f5b951
        text-shadow 0 -1px 0 darken(#f5b951, 20%)

        .filter
            background darken(#f5b951, 25%)
            color lighten(#f5b951, 70%)

        circle
            fill darken(#f5b951, 35%)

    &.red
        background #ed7151
        text-shadow 0 -1px 0 darken(#ed7151, 20%)

        .filter
            background darken(#ed7151, 25%)
            color lighten(#ed7151, 70%)

        circle
            fill darken(#ed7151, 35%)
