@import 'nib'

* { box-sizing: border-box; }

html, body, button, input
    color #666
    font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
    font-weight 300

body
    padding 20px

h1, h2, h3, h4
    font-weight 100

h1
    font-size 60px
    margin 0 0 20px

a, a:hover, a:visited, a:active, a:link
    text-decoration none
    outline none

@import '_helpers'
@import '_stat-item'
